<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">





    <title>Global Administrator BMW | TDCON 4.0 </title>
    <link rel="icon" href="~/Content/image/bmw_favicon.ico" type="image/ico" />

    <link href="~/Content/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/Vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Vendors/nprogress/nprogress.css" rel="stylesheet">

    @*<script src="~/Vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>*@

    <!-- iCheck -->
    <link href="~/Vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="~/Content/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />
    <!-- bootstrap-progressbar -->
    <link href="~/Vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.min.css" rel="stylesheet">

    <link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <style>
        #overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(8 11 20);
            z-index: 2;
            cursor: pointer;
        }

        #text {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 50px;
            color: white;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        }

        #text2 {
            position: absolute;
            top: 82%;
            left: 50%;
            font-size: 50px;
            color: white;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        }
    </style>

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="" class="site_title">
                            <img src="~/Content/image/Logo_Web_1_Launcher.png"
                                 style="    height: 50px;">
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-user"></i> Users <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="javascript:UpdateContenedor('Usuarios/AllUsuarios');">Users</a></li>
                                        <li><a href="javascript:UpdateContenedor('Usuarios/ProfileUser');">User profiles</a></li>

                                        <li class="">
                                            <a>Catalogs<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="display: none;">
                                                <li class="sub_menu">
                                                    <a href="javascript:UpdateContenedor('Catalogos/AllAreas');">Areas</a>
                                                </li>
                                                <li class="sub_menu">
                                                    <a href="javascript:UpdateContenedor('Catalogos/AllEdificios');">Buildings</a>
                                                </li>
                                                <li class="sub_menu">
                                                    <a href="javascript:UpdateContenedor('Catalogos/AllCompanias');">Companys</a>
                                                </li>
                                                <li class="sub_menu">
                                                    <a href="javascript:UpdateContenedor('Catalogos/AllDepartments');">Departments</a>
                                                </li>
                                                <li class="sub_menu">
                                                    <a href="javascript:UpdateContenedor('Catalogos/AllRoles');">Roles</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:UpdateContenedor('Catalogos/AllSystems');">Systems</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:UpdateContenedor('Catalogos/AllModules');">Modules</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-edit"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="javascript:UpdateContenedor('Usuarios/AllLogsLogin');">Log Session</a></li>
                                        <li><a href="javascript:UpdateContenedor('Usuarios/AllLogsGenerales');">Logs Generales</a></li>
                                    </ul>
                                </li>




                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/images/img.jpg" alt="">@ViewBag.User.Nombre @ViewBag.User.LastName
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">


                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/images/loading.gif" alt="">@ViewBag.IP
                                </a>

                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Settings</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open" hidden>
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div id="overlay" >
                    <div id="text">
                        <div id="text2">LOADING </div>
                        <img src="https://cdn.dribbble.com/users/19479/screenshots/3844642/untitled-2.gif" alt="Loading Animation by Jordan Flaig on Dribbble" class="n3VNCb" jsname="HiaYvf" jsaction="load:XAeZkd;" data-noaft="1" style="width: 538.667px; height: 404px; margin: 0px;">

                    </div>

                </div>
                <div id="Contenedor"></div>
                @RenderBody()

                <br />



            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <button type="button" class="btn btn-danger">BETA V1.0.1 TDCON 4.0 -  @DateTime.Now.Year</button>

                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->

    <script src="~/Vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>3
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <script src="~/Vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Vendors/skycons/skycons.js"></script>
    <!-- Flot -->


    <script src="~/Vendors/Flot/jquery.flot.js"></script>
    <script src="~/Vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Vendors/moment/min/moment.min.js"></script>
    <script src="~/Vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/plugins/sweetalert2/sweetalert2.all.js"></script>
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@

    @*<script src="~/Vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>*@

    <script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>*@
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.flash.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.colVis.js"></script>
    <script src="~/Content/js/custom.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.js"></script>

    <script src="~/Content/pdfmake/pdfmake/build/pdfmake.js"></script>
    <script src="~/Content/pdfmake/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Content/plugins/jquery-ui/jquery-ui.js"></script>


    @RenderSection("scripts", required: false)
<script>
        function UpdateContenedor(menu) {
            on();
            interfaz = menu;
            var urlAdd = menu;
            $('#Contenedor').empty();
            //blockPage();
            $.ajax({
                type: 'GET',
                url: urlAdd,
                async: true,

                //data: datos,
                success: function (data) {
                    $('#Contenedor').html(data);
                    setTimeout(off, 1000);
                    //off();
                    //showPage();

                    //jsRemoveWindowLoad();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert("" + errorThrown);
                    //$('#Error').append(" <strong>ERROR EN EL SERVIDOR </strong> " + errorThrown);
                }
            });
        }
        UpdateContenedor('Home/home');

        function on() {
            document.getElementById("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }
    var Token = "@ViewBag.User.Token";
    var IPWS = "http://localhost:51800/Home/users/";
</script>

</body>
</html>
